/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../sass/_color.scss */
.jumbotron {
  background-color: transparent;
  text-align: center;
}

/* line 8, ../sass/_color.scss */
section {
  margin-bottom: 150px;
}

/* line 12, ../sass/_color.scss */
.box {
  width: 31.33%;
  height: auto;
  margin: 20px 9%;
  float: left;
}
/* line 16, ../sass/_color.scss */
.box::after {
  content: '';
  display: table;
  clear: both;
}
/* line 21, ../sass/_color.scss */
.box p {
  float: right;
  margin: 1px 5px;
}
/* line 25, ../sass/_color.scss */
.box .left {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

/* line 32, ../sass/_color.scss */
.pallette {
  margin: 0 auto;
  display: block;
  min-height: 150px;
  width: 70%;
}

/* line 39, ../sass/_color.scss */
.swatch {
  width: 20%;
  height: 10vh;
  margin: 60px 0;
  float: left;
}

/* line 45, ../sass/_color.scss */
.color-section::after {
  content: '';
  display: table;
  clear: both;
}

/* line 51, ../sass/_color.scss */
.color {
  display: block;
  width: 100%;
  height: 15vh;
  margin: 20px 0;
}

/* line 57, ../sass/_color.scss */
.primary {
  background-color: #9E7CC1;
}

/* line 61, ../sass/_color.scss */
.secondary {
  background-color: #C5E26A;
}

/* line 65, ../sass/_color.scss */
.gray {
  background-color: #4b484f;
}

/* line 69, ../sass/_color.scss */
.light-gray {
  background-color: #f1edf4;
}

/* line 73, ../sass/_color.scss */
.black {
  background-color: #333;
}

/* line 77, ../sass/_color.scss */
.underline {
  border-bottom: 2px solid #ccc;
}

/* line 1, ../sass/_typeography.scss */
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

/* line 6, ../sass/_typeography.scss */
h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Open Sans", sans-serif;
}

/* line 9, ../sass/_typeography.scss */
.primary-font {
  font-family: "Raleway", sans-serif;
}

/* line 12, ../sass/_typeography.scss */
.secondary-font {
  font-family: "Open Sans", sans-serif;
}

/* line 15, ../sass/_typeography.scss */
.primary-color-font {
  color: #9E7CC1;
}

/* line 18, ../sass/_typeography.scss */
.secondary-color-font {
  color: #C5E26A;
}

/* line 21, ../sass/_typeography.scss */
.gray-font {
  color: #4b484f;
}

/* line 24, ../sass/_typeography.scss */
.light-gray-font {
  color: #f1edf4;
}

/* line 27, ../sass/_typeography.scss */
.headers {
  margin-top: 70px;
}

/* line 30, ../sass/_typeography.scss */
td {
  padding: 10px;
  vertical-align: middle;
}

/* line 1, ../sass/_navbar.scss */
.navbar-default {
  background-color: white;
  border-color: #efdfff;
}
/* line 4, ../sass/_navbar.scss */
.navbar-default .navbar-brand {
  color: #9E7CC1;
}
/* line 6, ../sass/_navbar.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #784da3;
}
/* line 8, ../sass/_navbar.scss */
.navbar-default .navbar-text {
  color: #9E7CC1;
}
/* line 12, ../sass/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #9E7CC1;
}
/* line 14, ../sass/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #784da3;
}
/* line 17, ../sass/_navbar.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #784da3;
  background-color: #efdfff;
}
/* line 21, ../sass/_navbar.scss */
.navbar-default .navbar-nav > .alt > a, .navbar-default .navbar-nav > .alt > a:hover, .navbar-default .navbar-nav > .alt > a:focus {
  color: #784da3;
  background-color: #ececec;
}
/* line 25, ../sass/_navbar.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #784da3;
  background-color: #efdfff;
}
/* line 28, ../sass/_navbar.scss */
.navbar-default .navbar-toggle {
  border-color: #efdfff;
}
/* line 30, ../sass/_navbar.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #efdfff;
}
/* line 32, ../sass/_navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9E7CC1;
}
/* line 34, ../sass/_navbar.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9E7CC1;
}
/* line 37, ../sass/_navbar.scss */
.navbar-default .navbar-link {
  color: #9E7CC1;
}
/* line 39, ../sass/_navbar.scss */
.navbar-default .navbar-link:hover {
  color: #784da3;
}

@media (max-width: 767px) {
  /* line 42, ../sass/_navbar.scss */
  .navbar-form {
    display: none;
  }

  /* line 46, ../sass/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9E7CC1;
  }
  /* line 48, ../sass/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #784da3;
  }
  /* line 51, ../sass/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #784da3;
    background-color: #efdfff;
  }
}
/* line 56, ../sass/_navbar.scss */
.navbar-brand {
  position: relative;
  padding: 0 15px;
}
/* line 59, ../sass/_navbar.scss */
.navbar-brand .fa-copyright {
  position: absolute;
  left: 22px;
}
@media screen and (min-width: 767px) {
  /* line 64, ../sass/_navbar.scss */
  .navbar-brand {
    top: -2px;
  }
}

/* line 70, ../sass/_navbar.scss */
.search-button {
  position: absolute;
  right: 15px;
}
/* line 73, ../sass/_navbar.scss */
.nav-form .search-button {
  width: 40px;
}

/* line 78, ../sass/_navbar.scss */
.search {
  width: 95%;
  margin: 0;
  display: inline-block;
}

/* line 86, ../sass/_navbar.scss */
.nav-icons {
  text-align: center;
  display: block;
}
/* line 89, ../sass/_navbar.scss */
.nav-icons .icon {
  color: #9E7CC1;
  font-size: 40px;
}
@media screen and (min-width: 767px) {
  /* line 94, ../sass/_navbar.scss */
  .nav-icons {
    display: none;
  }
}
/* line 98, ../sass/_navbar.scss */
.nav-icons li {
  list-style: none;
}
/* line 101, ../sass/_navbar.scss */
.nav-icons ul {
  margin: 0;
}

/* line 106, ../sass/_navbar.scss */
.nav-form {
  display: block;
}
@media screen and (min-width: 767px) {
  /* line 109, ../sass/_navbar.scss */
  .nav-form {
    display: none;
  }
}

/* line 115, ../sass/_navbar.scss */
.form-group {
  width: 100%;
}

/* line 119, ../sass/_navbar.scss */
.dropdown-menu {
  right: -40px;
  left: auto;
}
@media screen and (min-width: 682px) {
  /* line 123, ../sass/_navbar.scss */
  .dropdown-menu {
    left: 0;
    right: auto;
  }
}

/* line 130, ../sass/_navbar.scss */
.navbar-form {
  width: 50%;
  margin: 10px auto;
  position: absolute;
  left: 30%;
  transform: translate(-30%, 0);
}
@media screen and (min-width: 992px) {
  /* line 137, ../sass/_navbar.scss */
  .navbar-form {
    left: 35%;
    transform: translate(-35%, 0);
  }
}

@media (min-width: 768px) {
  /* line 146, ../sass/_navbar.scss */
  .navbar-form > .form-group .form-control {
    width: 95%;
  }
}
/* line 150, ../sass/_navbar.scss */
.form-control:focus {
  border-color: #9E7CC1;
}

/* line 1, ../sass/_components.scss */
#components {
  background-color: #FAFAFA;
}

/* line 5, ../sass/_components.scss */
#components .row {
  margin-top: 50px;
}

/* line 9, ../sass/_components.scss */
.panel {
  background-color: #FFF;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35), -1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 15, ../sass/_components.scss */
.right-sidebar {
  display: none;
}
@media screen and (min-width: 992px) {
  /* line 18, ../sass/_components.scss */
  .right-sidebar {
    display: block;
  }
}
